.Fajr {
  background-color: #045612;
  color: #ffffff;
}
.Zuhr {
  background-color: #0E9E0E;
  color: #ffffff;
}
.Asr {
  background-color: #045612;
  color: #ffffff;
}
.Maghrib {
  background-color: #0E9E0E;
  color: #ffffff;
}
.Esha {
  background-color: #045612;
  color: #ffffff;
}
.Jumuah {
  background-color: #0E9E0E;
  color: #ffffff;
}
.Zawwal {
    background-color: #b10f0f;
    color: #FFFFFF;
}
.Grey {
    background-color: #616161;
    color: #FFFFFF;
}
.Black {
    background-color: #000000;
    color: #FFFFFF;
}
.notice.o {
  background-color: #808080;
  color: #ffffff;
}

.change-block {
    background-color: #026cd7;
    color: #ffffff;
}
